services:
  zookeeper:
    image: zookeeper:3.9
    container_name: zookeeper
    restart: always
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_STANDALONE_ENABLED: "true"
    #volumes:
    #  - ./zk_data/zookeeper/data:/data
    #  - ./zk_data/zookeeper/datalog:/datalog
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "2181" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    networks:
      - app-network

  measuring-device:
    image: danielnem/measuring-device:v2
    container_name: measuring-device
    restart: always
    depends_on:
      zookeeper:
        condition: service_healthy
    command: [ "1" ]
    environment:
      ZK_HOST: zookeeper:2181
      API_URL: http://web-api:80/
      SAMPLING_PERIOD: 5
    networks:
      - app-network

  web-api:
    image: danielnem/api-anomalies:v1.0
    container_name: web-api
    restart: always
    ports:
      - "4000:80"
    environment:
      REDIS_HOST: redis
    depends_on:
      - redis
    networks:
      - app-network

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - redis
    networks:
      - app-network
    environment:
      GF_INSTALL_PLUGINS: redis-datasource
volumes:
  grafana_data:

networks:
  app-network:
    driver: bridge
